.week-page .period
  background-color: white
  font-size: 13px
  line-height: 17px
  position: relative
  height: 275px
  margin-bottom: 12px
  border-radius: 5px

  &.non-teaching
    height: auto
    cursor: default

    .non-teaching-icon
      position: relative
      top: 5px

  .period-container-week
    color: white
    padding: 10px
    border-top-left-radius: 3px
    border-top-right-radius: 5px

    .name
      text-transform: uppercase
      font-weight: 600
      font-size: 12px

    .time
      font-size: 11px

    .saving-state
      color: white
      margin: 0
      line-height: initial
      font-size: 0.9rem

  .unit-container-week
    padding: 8px
    border-right: 1px solid $pb-border
    border-bottom: 1px solid $pb-border

    .unit-tag
      font-size: 12px
      padding: 4px

      i
        font-size: 12px

    .title-bar
      margin: 0 28px 0 51px // give space for unit and options dropdowns
    .title-bar-input // overrides
      height: 25px
      padding: 0px 10px


    // v dropdown
    .week-options
      padding: 7px
      color: #999
      font-size: 10px
      border-radius: 5px
      &:hover
        background: $alto

  .lesson-contents
    border-right: 1px solid $pb-border
    border-bottom: 1px solid $pb-border
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px


  .froala-editor.preview
    min-height: 100px
    padding: 3px 10px 0 10px
    border: none
    overflow-x: hidden
    overflow-y: auto
    cursor: pointer

    p, li
      font-size: 13px !important
      line-height: 1.6em !important

    &.placeholder
      opacity: 0.5

  .long-week.with-banner .froala-editor.preview
    height: 128px
  .long-week .froala-editor.preview
    height: 162px
